/*
Объявления логически связанных свойств группируются в следующем порядке:

1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

.declaration-order {
    /* Позиционирование */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    /* Блочная модель */
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;

    /* Типографика */
    font: 100% serif;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #333333;

    /* Оформление */
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    opacity: 1;

    /* Анимация */
    transition: color 1s;

    /* Разное */
    will-change: auto;
}

