site-navigationbody {
    min-width: 1440px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden {
    display: none;
}

a {
    text-decoration: none;
}
h2 {
    text-transform: none;
    margin: 0;
}

p {
    text-transform: none;
    line-height: 24px;
    font-weight: 400;
}

img {
    display: inline-block;
}

.basket-logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.button {
    font: inherit;
    display: inline-block;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    background-color: #fb565a;
    border: none;
}

.button-header {
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
}

.button-service {
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
    margin-bottom: 70px;
}

.button-footer {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
}

.social-button {
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    display: block;
    border-radius: 50%;
    position: relative;
}

.social-button span {
    position: absolute;
}

.slider-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
}

.slider-button-active {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #ffffff;
    background-image: url("../img/active-button.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
}

.social-list li:nth-child(1) span {
    left: 25px;
    top: 32px;
    background-image: url("../img/vk-icon.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 15px;
}

.social-list li:nth-child(2) span {
    left: 35px;
    top: 30px;
    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
}

.social-list li:nth-child(3) span {
    left: 30px;
    top: 32px;
    background-image: url("../img/insta-icon.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
}

.button span:active {
    opacity: 0.3;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;

    background-color: #eeeeee;

}

.header-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo {
    float: left;
    margin-top: 49px;
}

.main-logo img:hover {
    opacity: 0.8;
}

.main-logo img:active {
    opacity: 0.3;
}

.site-navigation {
    float: left;
    margin: 0;
    margin-left: 200px;
    margin-top: 83px;
    padding: 0;

    list-style: none;
}

.site-navigation li {
    display: inline;
    margin-right: 45px;
}

.site-navigation li:nth-child(4) {
    margin: 0;
}

.user-navigation {
    float: right;

    margin: 0;
    margin-top: 83px;
    padding: 0;
    list-style: none;
}

.user-navigation li {
    display: inline;
    margin: 0;
}

.user-navigation li:nth-child(1) {
    margin-right: 20px;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: #000000;
    border-bottom: 2px solid #fb565a;;
}

.slider {
    width: 1160px;
    margin-top: 20px;
}

.slider-item {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.slider-item p {
    margin-bottom: 40px;
}

.slider-switches li {
    display: inline;
    list-style: none;
}

.slider-text-one {
    float: left;
    width: 380px;
    margin-right: 53px;
}

.slider-text-one h2 {
    margin-top: 66px;
}

.slider-text-one p {
    margin-top: 28px;
}

.slider-picture-one {
    float: left;
    width: 698px;
    margin-top: 17px;
}

.slider-picture-one .slider-switches {
    position: relative;
    bottom: 130px;
    padding: 0;
    margin-left: 100px;
}

.slider-text-two {
    float: left;
    width: 495px;
}

.slider-text-two h2 {
    width: 515px;
    position: relative;
    margin-top: 81px;
}

.slider-text-two p {
    margin-top: 28px;
}

.slider-picture-two {
    float: left;
}

.slider-picture-two .slider-switches {
    position: relative;
    bottom: 130px;
    padding: 0;
    margin-left: 30px;
}

.slider-text-three {
    float: left;
    width: 401px;
}

.slider-text-three h2 {
    width: 408px;
    position: relative;
    margin-top: 66px;
}

.slider-text-three p {
    margin-top: 27px;
}

.slider-picture-three {
    float: left;
    margin-top: 17px;
}

.slider-picture-three .slider-switches {
    position: relative;
    bottom: 130px;
    padding: 0;
    margin-left: 140px;
}

.service-list {
    list-style: none;
    margin: 0;
    margin-left: 140px;
    padding: 0;
}

.service-list h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-list li:nth-child(2) a {
    background-color: #00ca74;
}

.service-list li:nth-child(2) a:focus {
    background-color: #00bc6c;
}

.service-list li:nth-child(2) a:active {
    background-color: #00aa62;
}

.service-list li:nth-child(3) a {
    background-color: #efc84a;
}

.service-list li:nth-child(3) a:focus {
    background-color: #eab534;
}

.service-list li:nth-child(3) a:active {
    background-color: #e5a722;
}

.service-item {
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-top: 80px;
}

.service-item h2 {
    margin-top: 26px;
}

.service-item p {
    margin-top: 26px;
    margin-bottom: 36px;
}

.line-horizontal {
    border: none;
    height: 2px;
    background-color: #666666;
    width: 1160px;
}

.info {
    margin-left: 140px;
    margin-top: 40px;
}

.info-left {
    float: left;
    width: 800px;
    margin-top: 40px;
}

.info-left p {
    margin-top: 35px;
}

.info-left p {
    margin-top: 35px;
}

.info-left p + p {
    margin-top: 47px;
}

.info-list {
    margin: 0;
    list-style: none;
    margin-bottom: 60px;
}

.info-left li {
    margin-top: 35px;
}

.info-right {
    float: left;
}

.info-right img + p {
    margin: 0;
    margin-left: 17px;
    margin-top: 41px;
}

.info-stat-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}

.info-stat-list li {
    display: inline-block;
    margin-right: 18px;
}

.info-stat-list li p {
    text-align: left;
    margin: 0;
    margin-top: 37px;
}

.links-portfolio-list {
    list-style: none;
}

.social-list {
    list-style: none;
}

.info-header {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.info h2 + p + p {
    font-weight: 700;
    text-transform: uppercase;
}

.info img + p{
    font-weight: 700;
    text-transform: uppercase;
}

.strong {
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
}

.info-stat-item p + p {
    line-height: 18px;
}

.footer-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.main-footer {
    position: relative;
    margin-top: 80px;
}

.footer-contacts {
    display: block;
    position: absolute;
    top: 50px;
    left: 140px;
    width: 219px;
    padding: 50px;
    background-color: #ffffff;
}

.footer-contacts p {
    margin: 0;
    margin-bottom: 34px;

}

.picture-logo {
    position: absolute;
    top: 80px;
    left: 820px;
}

.main-footer .footer-header + p {
    color: #666666;
    line-height: 18px;
}

.footer-text {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.container-footer {
    height: 218px;
}

.footer-social {
    float: left;
    margin-top: 60px;
    margin-left: 140px;
    margin-right: 140px;
}

.social-list {
    display: block;
    margin: 0;
    padding: 0;
}

.social-list li {
    display: inline-block;
    margin-right: 12px;
}

.social-footer-text {
    float: left;
    margin-top: 60px;
}

.social-footer-text p {
    margin: 0;
    margin-bottom: 10px;
}

.modal-contact-us {
    display: none;
    position: absolute;
    top: -145px;
    left: 240px;
    width: 760px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;

    background-color: #ffffff;
}

.modal-contact-us-on {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-contact-us button {
    padding: 0;
}

.modal-contact-us h2 {
    margin-bottom: 40px;
}

.contact-form ul {
    margin: 0;
    padding: 0;
}

.contact-form li:nth-child(2) {
    float: right;
}

.contact-form li:nth-child(3) {
    margin-top: 20px;
}

.contact-form li:nth-child(4) {
    margin-top: 40px;
}

.contact-form input {
    width: 359px;
    margin-top: 5px;
    height: 48px;
}

.modal-contact-us textarea {
    width: 757px;
    height: 118px;
    margin-top: 5px;
}

.modal-contact-us button {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
}

.modal-close-button button {
    margin-left: 15px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}


.modal-close {
    display: block;
    all: initial;
    position: absolute;
    top: 80px;
    left: 835px;
    background-image: url("../img/close-cross.png");
    background-repeat: no-repeat;
    background-position: center;

}

.contact-form li {
    display: inline-block;
    float: left;
}

.modal h2 {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.modal label {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.modal input {
    border: 2px solid #d7dcde;
}

.modal input:hover {
    border: 2px solid #b4b9bb;
}

.modal input:focus {
    border: 2px solid #000000;
}

.modal input:invalid {
    border: 2px solid #e74246;
    color: #e74246;
}

.links-portfolio {
    width: 1160px;
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.links-portfolio-list {
    margin: 0;
    padding: 0;
}

.links-portfolio-item {
    display: inline;
    margin-left: 30px;
    margin-right: 70px;
    opacity: 0.2;
}

.links-portfolio-item:hover {
    opacity: 1;
}

.links-portfolio-item:active {
    opacity: 0.1;
}

@keyframes bounce {
    0%   { transform: translateY(-50px); }
    70%  { transform: translateY(30px);    }
    90%  { transform: translateY(-10px);   }
    100% { transform: translateY(0);       }
}

@keyframes shake {
    0%, 100%                { transform: translateX(0);     }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}








.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    transition: transform .8s ease;
}

.slider-item {
    float: left;
    width: 1160px;
}

.slider-controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 85px;
    z-index: 100;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ffffff;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 50%;
    transition: background-color .2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-image: url("../img/active-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1160px);}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-2320px);}


